.vscode/**
.vscode-test/**
src/**
!src/ridiculous/media/**
!src/ridiculous/webview/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
